
<div class="modal-body">
  <form #f="ngForm" id="addStock">


    <div class="form-group">
    <label for="firstname">Firstname</label>
    <input type="text" class="form-control" id="firstname"  name="firstname" ngModel [(ngModel)]="trainer.firstname" required #firstname="ngModel">
    <div
      class="alert alert-danger"
      role="alert"
      *ngIf=" firstname.invalid &&  firstname.touched" >
      <span *ngIf=" firstname.errors?.required">This field is required!</span>
    </div>
  </div>

    <div class="form-group">
      <label for="lastname">Lastname</label>
      <input type="text" class="form-control" id="lastname"  name="lastname" ngModel [(ngModel)]="trainer.lastname" required #lastname="ngModel">
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="lastname.invalid && lastname.touched" >
        <span *ngIf="lastname.errors?.required">This field is required!</span>
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email"  name="email" ngModel [(ngModel)]="trainer.email" required #email="ngModel">
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="email.invalid && email.touched" >
        <span *ngIf="email.errors?.required">This field is required!</span>
      </div>
    </div>

    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="number" class="form-control" id="phone"  name="phone" ngModel [(ngModel)]="trainer.phone" required #phone="ngModel">
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="phone.invalid && phone.touched" >
        <span *ngIf="phone.errors?.required">This field is required!</span>
      </div>
    </div>


    <div class="form-group">
      <label for="type">Type</label>
      <select class="form-control" id="type" name="trainertype" ngModel [(ngModel)]="trainer.trainertype" required #type="ngModel">
        <option *ngFor="let type of types" [value]="type"> {{type}}</option>
      </select>
      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="type.invalid && type.touched" >
        <span *ngIf="type.errors?.required">Type is required!</span>
      </div>
    </div>

    <div class="form-group">
      <label for="structure">Structure</label>
      <select name="structure" [ngModel]="structure" id="structure" class="form-control" (ngModelChange)="setStructure($event)"
              required #structure="ngModel"
              [ngClass]="{'is-invalid': structure.invalid&&structure.touched,'is-valid': structure.valid&&structure.touched}">
        <option *ngFor="let structure of structures"  [ngValue]="structure" [attr.selected]="structure?.idStructure == trainer?.structure?.idStructure ? true : null">
          {{structure.libelle}}</option>
      </select>

      <div
        class="alert alert-danger"
        role="alert"
        *ngIf="type.invalid && type.touched" >
        <span *ngIf="type.errors?.required">Structure is required!</span>
      </div>
    </div>




  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  <input type="submit" value="save" class="btn btn-primary" form="addStock" (click)="sendDataToParent(f.value)">
</div>
